body {
  margin: 0;
}
#main {
  margin-right: 275px;
  border: 1px solid #000;
}
.form-part {
  width: 80%;
  padding: 15px;
  margin: 5px auto;
  border: 1px solid #000;
}
#form-data {
  padding: 10px;
  width: 250px;
  background: #d3d3d3;
  position: absolute;
  top: 0;
  right: 0;
  height: 100%;
  border: 1px solid #000;
}
.heading {
  text-align: center;
}
#controls {
}
#controls > button {
  padding: 3px 25px;
}
.end-part {
  display: inline;
}
.end-part a {
  padding: 2px 10px;
  border: 1px solid #000;
  border-radius: 3px;
  margin: 3px;
  text-decoration: none;
  color: #000;
}