<!doctype html>
<html ng-app="formCenter">
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.0.4/angular.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
  <script src="controllers.js"></script>
  <script src="js/app.js"></script>
  <link href="css/app.css" rel="stylesheet" type="text/css" media="all"/>
  <title>form center</title>
</head>
<body ng-controller="FormController">
<div id="main">
  <div class="heading"><h1>Form Center 2.0</h1></div>

  <div class="form-part" ng-repeat="partial in partials" ng-show="isActive(partial.title)" ng-controller="partsCtrl">
    <span>{{partial.title}}</span>
    <hr/>
    <div id="fields" ng-repeat="piece in partial.offers">
      {{piece.name}}
      <div ng-repeat="field in piece.fields">
        {{field.name}}: <input ng-model="field.val" type="{{field.type}}"/>
      </div>
    </div>
    <br/>

    <div class="end-part" ng-repeat="next in partial.leadsTo">

      <a href ng-click="setPart(partial, next)">{{next}}</a>
    </div>
  </div>

</div>
<div id="form-data">
  <div class="heading">
    <h3>your info</h3>
    i.e form structure and data
    <hr/>
  </div>
  <div ng-repeat="partial in partials">
    <div ng-repeat="piece in partial.offers">
      {{piece.name}}:
      <div ng-repeat="field in piece.fields">

        <div ng-show="field.val">--{{field.name}}: {{field.val}}</div>
      </div>
    </div>
  </div>
</body>
</html>
